<head>
    <style>
        {{ style }}
    </style>
    <meta charset="UTF-8">
</head>
<body>
<div class="row">
    <div class="col l6 m6 s6">
        Cộng hòa xã hội chủ nghĩa Việt Nam
    </div>
    <div class="col l6 m6 s6">
        Độc lập tự do hạnh phúc
    </div>
</div>
</body>